<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Browser</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📂</text></svg>">
  <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios@1.3.4/dist/axios.min.js"></script>
  "/assets/css/tailwind.css"
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-50">
  <div id="app" class="w-full h-full">
    <div class="header flex bg-gray-200 dark:bg-gray-700 p-2">
      <div class="flex-1 m-4 sm:m-0">
        <button
          class="info-button flex items-center dark:hover:bg-sky-700 hover:bg-sky-200"
          @click="toggleInfo"
        >
          "/assets/icons/information.svg"
        </button>
      </div>
      <!-- controls -->
      <div v-if="!selectedFile && !showMessage" class="block sm:flex items-center justify-end">
        <div class="sm:hidden m-4 sm:m-0 text-right">
          <button
            class="menu-button items-center dark:hover:bg-sky-700 hover:bg-sky-200"
            @click="toggleMenu"
          >
            "/assets/icons/menu.svg"
          </button>
        </div>
        <div class="sm:flex m-4 sm:m-0" :class="{'hidden': !showMenu}">
          <input
            name="showThumbnails"
            id="showThumbnails"
            type="checkbox"
            class="form-checkbox h-5 w-5 text-gray-600"
            v-model="showThumbnails"
          />
          <label
            for="showThumbnails"
            class="cursor-pointer ml-2"
          >
            Show Thumbnails
          </label>
        </div>
        <span class="mx-4 hidden sm:block">|</span>
        <div v-if="uploadsAllowed" class="sm:flex m-4 sm:m-0" :class="{'hidden': !showMenu}">
          <button
            class="upload-button flex items-center dark:hover:bg-sky-700 hover:bg-sky-200"
            @click="toggleUpload"
          >
            "/assets/icons/upload-cloud.svg"
            <span class="mx-1">Upload</span>
          </button>
        </div>
        <span v-if="uploadsAllowed" class="mx-4 hidden sm:block">|</span>
        <div class="sm:flex m-4 sm:m-0" :class="{'hidden': !showMenu}">
          <button
            class="flex items-center dark:hover:bg-sky-700 hover:bg-sky-200"
            @click="() => onDirectoryClick(currentDirectory)"
          >
            "/assets/icons/refresh.svg"
            <span class="mx-1">Refresh</span>
          </button>
        </div>
      </div>
    </div>
    <div
      class="info absolute top-12 left-4 bg-gray-300 dark:bg-gray-700 shadow-lg p-8 rounded-lg z-20"
      v-if="showInfo"
      v-click-outside="closeInfo"
    >
      <h2 class="text-xl font-bold mb-2">Made with ❤ by Simply Hexagonal</h2>
      <p class="mb-8">
        <a
          class="text-indigo-700 dark:text-indigo-300"
          target="_blank"
          href="https://simplyhexagonal.org"
        >
          website
        </a>
        <span> | </span>
        <a
          class="text-indigo-700 dark:text-indigo-300"
          target="_blank"
          href="https://github.com/simplyhexagonal"
        >
          github
        </a>
      </p>
      <p class="mb-2">
        Built using:
      </p>
      <ul class="list-disc list-inside pl-2">
        <li>
          <a
            class="text-indigo-700 dark:text-indigo-300"
            target="_blank"
            href="https://www.fastify.io/"
          >
            Fastify
          </a>
        </li>
        <li>
          <a
            class="text-indigo-700 dark:text-indigo-300"
            target="_blank"
            href="https://vuejs.org/"
          >
            Vue JS
          </a>
        </li>
        <li>
          <a
            class="text-indigo-700 dark:text-indigo-300"
            target="_blank"
            href="https://tailwindcss.com/"
          >
            Tailwind CSS
          </a>
        </li>
        <li>
          <a
            class="text-indigo-700 dark:text-indigo-300"
            target="_blank"
            href="https://axios-http.com/"
          >
            Axios
          </a>
        </li>
        <li>
          <a
            class="text-indigo-700 dark:text-indigo-300"
            target="_blank"
            href="https://remixicon.com/"
          >
            Remix Icon
          </a>
        </li>
      </ul>
    </div>
    <div
      class="upload absolute top-12 right-8 bg-gray-300 dark:bg-gray-700 shadow-lg p-8 rounded-lg z-20"
      v-if="showUpload"
      v-click-outside="closeUpload"
    >
      <h2 class="text-xl font-bold mb-2">Upload File</h2>
      <form
        class="upload-form flex flex-col"
        @submit.prevent="uploadFile"
      >
        <label
          for="files"
          class="upload-choose-button mb-2 p-4 bg-sky-500 dark:bg-sky-600 text-white rounded-lg flex items-center"
          :class="{'cursor-pointer': !uploading}"
          :disabled="uploading"
        >
          <span class="icon">
            "/assets/icons/upload-cloud.svg"
          </span>
          <span class="mx-1">Choose File</span>
        </label>
        <input
          id="files"
          type="file"
          class="hidden"
          multiple
          @change="onFileChange"
        />
        <button
          class="upload-button mb-2 p-4 text-white rounded-lg flex items-center"
          :class="{
            'cursor-pointer bg-green-500 dark:bg-green-600': files,
            'bg-gray-500 dark:bg-gray-600': !files,
          }"
          :disabled="!files"
          v-if="!uploading"
        >
          "/assets/icons/upload-cloud.svg"
          <span class="mx-1">Upload</span>
        </button>
        <div
          class="mb-2 py-4 px-5 text-white rounded-lg flex items-center w-full"
          :class="{
            'bg-green-500 dark:bg-green-600': files,
            'bg-gray-500 dark:bg-gray-600': !files,
          }"
          v-if="uploading"
        >
          <div class="loader mb-6">
            <div></div><div></div><div></div>
          </div>
          <div class="pl-8">
            Uploading ({{uploadProgress}}%)
          </div>
        </div>
      </form>
    </div>
    <div v-if="loading" class="flex py-4 px-5">
      <div
        class="loader text-white rounded-lg flex items-center"
      >
        <div></div><div></div><div></div>
      </div>
      <div class="pl-8">
        Loading...
      </div>
    </div>
    <div
      v-if="!loading && !selectedFile"
      class="relative"
    >
      <ul class="directories flex flex-wrap p-4">
        <li
          @click.stop.prevent="() => onDirectoryClick(directory.path)"
          class="cursor-pointer my-4 mx-2 w-[8rem] dark:hover:bg-sky-700 hover:bg-sky-200"
          v-for="directory in tree.directories"
        >
          <span
            class="icon block m-auto text-center text-green-600 dark:text-green-400"
            v-html="getIcon(directory)"
          >
            <!-- dynamic -->
          </span>
          <a class="file-name block m-auto text-center" :href="directory.path">
            {{ directory.name }}
          </a>
        </li>
      </ul>
      <ul class="files flex flex-wrap p-4" :class="{'thumbnails': showThumbnails}">
        <li
          v-for="file in tree.files"
          class="cursor-pointer my-4 mx-2 w-[8rem] dark:hover:bg-sky-700 hover:bg-sky-200"
        >
          <a
            class="block w-full h-full"
            :href="file.path" target="_blank"
            @click.stop.prevent="() => onFileClick(file)"
          >
            <span
              class="icon block m-auto text-center text-slate-500 dark:text-slate-300"
              v-html="getIcon(file)"
            >
              <!-- dynamic -->
            </span>
            <span class="file-name block m-auto text-center">{{ file.name }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div
      v-if="selectedFile"
      class="selected-file relative"
    >
      <div class="block sm:flex p-4 max-w-3xl">
        <div class="flex flex-1 flex-col items-center justify-center">
          <span
            class="icon block m-auto text-slate-500 dark:text-slate-300"
            v-html="getIcon(selectedFile)"
          >
            <!-- dynamic -->
          </span>
          <span class="file-name ml-4">{{ selectedFile.name }}</span>
        </div>
        <div class="flex flex-col space-y-2 sm:w-80 py-4">
          <div class="flex items-center">
            <a
              class="text-center p-4 bg-sky-500 dark:bg-sky-600 text-white rounded-lg w-full"
              :href="selectedFile.path" target="_blank"
            >
              {{selectedFile.name.endsWith('.html') ? 'Open' : 'Download'}}
            </a>
          </div>
          <div class="flex items-center">
            <input
              class="flex-1 p-4 bg-zinc-300 dark:bg-zinc-600 text-white rounded-lg mr-2"
              type="text"
              v-model="selectedFileName"
            />
            <button
              class="flex justify-center p-4 bg-sky-500 dark:bg-sky-600 text-white rounded-lg"
              @click="onRenameFile"
              :disabled="renaming || deleting"
            >
              <div class="flex">
                <span v-if="!renaming">
                  Rename
                </span>
                <div class="loader mb-6 w-6" v-if="renaming">
                  <div></div><div></div><div></div>
                </div>
              </div>
            </button>
          </div>
          <div class="flex items-center">
            <button
              v-if="!confirmingDelete"
              class="flex justify-center p-4 bg-red-500 dark:bg-red-600 text-white rounded-lg w-full"
              @click="confirmDelete"
              :disabled="deleting || renaming"
            >
              <div class="flex">
                <span v-if="!deleting">
                  Delete
                </span>
                <div class="loader mb-6" v-if="deleting">
                  <div></div><div></div><div></div>
                </div>
                <div class="pl-8" v-if="deleting">
                  Deleting...
                </div>
              </div>
            </button>
            <button
              v-if="confirmingDelete"
              class="flex-1 text-center p-4 bg-red-500 dark:bg-red-600 text-white rounded-lg mr-1"
              @click="onDeleteFile"
            >
              Confirm Delete
            </button>
            <button
              v-if="confirmingDelete"
              class="flex-1 text-center p-4 bg-sky-500 dark:bg-sky-600 text-white rounded-lg ml-1"
              @click="cancelDelete"
            >
              Cancel
            </button>
          </div>
          <div class="flex items-center">
            <button
              class="text-center p-4 bg-sky-500 dark:bg-sky-600 text-white rounded-lg w-full"
              @click="onCloseFile"
              :disabled="deleting || renaming"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="showUpload || showInfo || showMessage"
      class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-50 z-10"
    ></div>
    <div
      v-if="showMessage"
      class="absolute top-0 right-0 bottom-0 left-0 grid justify-items-center content-center z-20"
      @click.self="() => closeMessage()"
    >
      <div
        class="message rounded-lg p-5 shadow-lg"
        :class="MESSAGE_COLOR_CLASS_MAP[message.color]"
      >
        <div class="mb-4">{{message.text}}</div>
        <div class="text-right">
          <button
            class="close-message-button p-4 bg-sky-500 dark:bg-sky-600 text-white rounded-lg"
            @click="closeMessage"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const { createApp } = Vue;

    const ROOT_DIR = '/fs/';

    const MIMETYPE_ICON_MAP = {
      'inode/directory': '/assets/icons/folder.svg',
      'application/javascript': '/assets/icons/file-code.svg',
      'application/octet-stream': '/assets/icons/file-binary.svg',
      'application/pdf': '/assets/icons/file-pdf.svg',
      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': '/assets/icons/file-excel.svg',
      'application/vnd.openxmlformats-officedocument.wordprocessingml.document': '/assets/icons/file-word.svg',
      'application/vnd.ms-powerpoint': '/assets/icons/file-powerpoint.svg',
      'application/vnd.openxmlformats-officedocument.presentationml.presentation': '/assets/icons/file-powerpoint.svg',
      'video/x-matroska': '/assets/icons/file-video.svg',
      'application/x-msdos-program': '/assets/icons/file-executable.svg',
      'application/x-sh': '/assets/icons/file-executable.svg',
      'audio/mpeg': '/assets/icons/file-audio.svg',
      'audio/wave': '/assets/icons/file-audio.svg',
      'image/jpeg': '/assets/icons/file-image.svg',
      'image/png': '/assets/icons/file-image.svg',
      'image/gif': '/assets/icons/file-gif.svg',
      'image/svg+xml': '/assets/icons/file-image.svg',
      'text/csv': '/assets/icons/file-spreadsheet.svg',
      'text/html': '/assets/icons/file-code.svg',
      'text/jsx': '/assets/icons/file-code.svg',
      'text/plain': '/assets/icons/file-text.svg',
      'text/tab-separated-values': '/assets/icons/file-spreadsheet.svg',
      'video/mp2t': '/assets/icons/file-code.svg',
      'video/mp4': '/assets/icons/file-video.svg',
      'video/quicktime': '/assets/icons/file-video.svg',
      'video/x-msvideo': '/assets/icons/file-video.svg',
      'application/zip': '/assets/icons/file-zip.svg',
      'application/gzip': '/assets/icons/file-zip.svg',
    };

    const MESSAGE_COLOR_CLASS_MAP = {
      default: 'bg-gray-300 dark:bg-gray-700',
      success: 'bg-green-300 dark:bg-green-700',
      error: 'bg-red-300 dark:bg-red-700',
    };

    const app = createApp({
      data: () => (
        {
          MESSAGE_COLOR_CLASS_MAP,
          uploadsAllowed: ALLOW_FILE_UPLOADS,
          loading: true,
          currentDirectory: ROOT_DIR,
          showThumbnails: false,
          showInfo: false,
          showUpload: false,
          showMenu: false,
          showMessage: false,
          confirmingDelete: false,
          message: {
            text: '',
            color: 'default',
            postCloseAction: null,
          },
          uploading: false,
          uploadProgress: 0,
          deleting: false,
          renaming: false,
          files: null,
          selectedFile: null,
          selectedFileName: null,
          tree: {
            files: [],
            directories: [],
          },
        }
      ),
      methods: {
        toggleInfo() {
          this.showInfo = !this.showInfo;
        },
        closeInfo() {
          this.showInfo = false;
        },
        toggleUpload() {
          if (!this.uploading) {
            this.showUpload = !this.showUpload;
          }
        },
        closeUpload() {
          if (!this.uploading) {
            this.showUpload = false;
          }
        },
        toggleMenu() {
          this.showMenu = !this.showMenu;
        },
        closeMessage() {
          this.showMessage = false;

          if (this.message.postCloseAction) {
            this.message.postCloseAction();
          }
        },
        getIcon({mimeType, path}) {
          if (this.showThumbnails && (/^image/).test(mimeType)) {
            return `<img src="${path.replace(/\/fs\//, '/')}"/>`;
          }

          return MIMETYPE_ICON_MAP[mimeType] || MIMETYPE_ICON_MAP['application/octet-stream'];
        },
        prependBackLink() {
          if (this.currentDirectory !== ROOT_DIR) {
            this.tree.directories.unshift({
              name: '..',
              path: this.currentDirectory.split('/').slice(0, -2).join('/') + '/',
              mimeType: 'inode/directory',
            });
          }
        },
        onDirectoryClick(path) {
          this.loading = true;

          axios.get(`${path}`)
            .then(
              (response) => {
                this.tree = response.data.message;

                this.currentDirectory = path;

                this.prependBackLink();
              },
            )
            .catch(
              (error) => {
                console.error(error);

                this.message.text = 'Error loading directory';
                this.message.color = 'error';
                this.message.postCloseAction = null;
                this.showMessage = true;
              },
            ).finally(
              () => {
                this.loading = false;
              },
            );
        },
        onFileClick(file) {
          console.log(JSON.stringify(file, null, 2));
          this.selectedFile = file;
          this.selectedFileName = file.name;
        },
        onCloseFile() {
          this.selectedFile = null;
          this.selectedFileName = null;
        },
        confirmDelete() {
          this.confirmingDelete = true;
        },
        cancelDelete() {
          this.confirmingDelete = false;
        },
        onDeleteFile() {
          this.confirmingDelete = false;
          this.deleting = true;

          axios.delete(`/delete?path=${this.selectedFile.path}`)
            .then(
              (response) => {
                this.message.text = 'File deleted successfully';
                this.message.color = 'success';
                this.message.postCloseAction = () => this.onDirectoryClick(this.currentDirectory);
                this.showMessage = true;
              },
            ).catch(
              (error) => {
                console.error(error);

                this.message.text = 'Error deleting file';
                this.message.color = 'error';
                this.message.postCloseAction = null;
                this.showMessage = true;
              },
            ).finally(
              () => {
                this.selectedFile = null;
                this.deleting = false;
              },
            );
        },
        onRenameFile() {
          this.renaming = true;

          axios.put(`/rename?path=${this.selectedFile.path}&newFileName=${this.selectedFileName}`)
            .then(
              (response) => {
                this.message.text = 'File renamed successfully';
                this.message.color = 'success';
                this.message.postCloseAction = () => this.onDirectoryClick(this.currentDirectory);
                this.showMessage = true;
              },
            ).catch(
              (error) => {
                console.error(error);

                this.message.text = 'Error renaming file';
                this.message.color = 'error';
                this.message.postCloseAction = null;
                this.showMessage = true;
              },
            ).finally(
              () => {
                this.selectedFile = null;
                this.renaming = false;
              },
            );
        },
        onFileChange(event) {
          const formData = new FormData();

          for(let i = 0; i < event.target.files.length; i++) {
            formData.append('file', event.target.files[i]);
          }

          this.files = formData;
        },
        uploadFile() {
          this.uploading = true;

          axios.post(
            `/upload?path=${this.currentDirectory}`,
            this.files,
            {
              onUploadProgress: ({progress}) => {
                this.uploadProgress = parseInt(progress * 100);
              },
            },
          )
            .then(
              (response) => {
                this.message.text = 'File uploaded successfully';
                this.message.color = 'success';
                this.message.postCloseAction = () => this.onDirectoryClick(this.currentDirectory);
                this.showMessage = true;
              },
            ).catch(
              (error) => {
                console.error(error);

                this.message.text = 'Error uploading file';
                this.message.color = 'error';
                this.message.postCloseAction = () => this.onDirectoryClick(this.currentDirectory);
                this.showMessage = true;
              },
            ).finally(
              () => {
                this.files = null;
                this.uploading = false;

                this.closeUpload();
              },
            );
        },
      },
      mounted() {
        this.onDirectoryClick(this.currentDirectory);
      },
      // watch: {
      //   currentDirectory() {
      //     console.log(
      //       JSON.stringify(
      //         this.tree.files.map((file) => file.mimeType),
      //         null,
      //         2,
      //       ),
      //     );
      //   },
      // },
    });
    
    app.directive(
      'click-outside',
      (el, binding, vnode) => {
        document.addEventListener('click', (event) => {
          if (
            el.contains(event.target)
            || (/info/).test(event.target.className)
            || (/info/).test((event.target.parentElement || {}).className)
            || (/info/).test(((event.target.parentElement || {}).parentElement || {}).className)
            || (/upload/).test(event.target.className)
            || (/upload/).test((event.target.parentElement || {}).className)
            || (/upload/).test(((event.target.parentElement || {}).parentElement || {}).className)
          ) {
            return;
          }
          binding.value(event);
        });
      },
    );
    
    app.mount('#app');
  </script>

  <style>
    html, body {
      margin: 0;
      padding: 0;
      box-sizing: radius-box;
      font-family: sans-serif;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    #app {
      overflow-x: auto;
      overflow-y: scroll;
    }
    svg {
      display: inline-block;
      fill: currentColor;
    }
    .directories svg,
    .files svg {
      width: 64px;
    }
    .files.thumbnails svg,
    .files.thumbnails img {
      width: 128px;
    }
    .selected-file svg,
    .selected-file img {
      width: 256px;
    }
    .file-name {
      overflow-wrap: break-word;
    }
    .loader {
      display: inline-block;
      position: relative;
    }
    .loader div {
      display: inline-block;
      position: absolute;
      top: 2.4px;
      left: 2.4px;
      width: 4.8px;
      background: #fff;
      animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .loader div:nth-child(1) {
      left: 2.4px;
      animation-delay: -0.24s;
    }
    .loader div:nth-child(2) {
      left: 9.6px;
      animation-delay: -0.12s;
    }
    .loader div:nth-child(3) {
      left: 16.8px;
      animation-delay: 0;
    }
    @keyframes loader {
      0% {
        top: 2.4px;
        height: 19.2px;
      }
      50%, 100% {
        top: 7.2px;
        height: 9.6px;
      }
    }
  </style>
</body>
</html>
